#edit-address-fieldset{
    display: flex;
    flex-direction: column;
}

#edit-address-fieldset label{
    margin: 1em auto 0 auto;
}

#edit-address-fieldset input{
    display: block;
    margin: 0 auto;
    width: 18em;
    height: 2em;
}

#edit-address-fieldset button{
    display: block;
    margin: 1em auto 0 auto;
    width: 5.5em;
    font-size: 1em;
}