#my-info-section{
    display: flex;
    flex-direction: column;
    height: 90vh;
    overflow: auto;
}

#my-info-section > section{
    border-bottom: .06em solid black;
    text-align: center;
    padding: 0 .5em;
    margin: 1em 0;
}

#my-info-section  section > button{
    display: block;
    font-size: 1em;
    width: 5.5em;
    margin: 1em auto;
}

#rest-password-fieldset{
    display: flex;
}

#rest-password-fieldset input{
    display: block;
    width: 18em;
    height: 2em;
    margin: .8em auto;
}

#rest-password-fieldset button{
    display: block;
    width: 5.5em;
    font-size: 1em;
    margin: .8em auto;
}

@media screen and (max-width: 770px){
    #my-info-section{
        height: auto;
        overflow: visible;
    }
}