.first-section{
    width: 35em;
    margin: 0 auto;
    text-align: center;
    color: pink;
}

.request-service{
    display: block;
    font-size: 1em;
    width: 6.5;
    height: 2.5em;
    margin: 3.5em auto 2.5em auto;
    background-color: pink;
    border: none;
    border-radius: .3em;
    color: white;
    box-shadow: 0 0 .2em pink;
}

@media screen and (max-width: 770px){
    .first-section{
        width: 90%;
    }
}