.second-section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.second-section li {
    margin: .3em auto;
}

.second-section p {
    
}

@media screen and (max-width: 770px){
    .second-section{
        width: 90%;
    }
}