.initial-pck{
    width: 35em;
    height: 25em;
    margin: 0 auto;
    text-align: center;
    background-color: #fafafa;
    border: .06em solid #eaeaea;
    border-radius: 1em;
    box-shadow: .2em .2em .8em gainsboro;
}

.initial-pck fieldset{
    border: none;
}

.initial-pck h2{
    margin-top: 2em;
}

.initial-pck h5{
    width: 10em;
    margin-top: 4em;
    margin-left: 15em;
    margin-bottom: -.5em;
}

.initial-pck ul{
    padding: 0;
    font-size: 1.1em;
    text-align: center;
}

.initial-pck p{
    font-size: 1.5em;
}

.initial-cleaning-input{
    display: block;
    padding-top: 1em;
    width: 10em;
    height: 3em;
    margin: 1.5em auto auto auto;
    
}

.show-custom-services{
    display: block !important;
}

.custom-service-btn{
    display: block;
    color: white;
    background-color: pink;
    border: none;
    border-radius: .3em;
    text-align: center;
    padding: .7em;
    width: 7em;
    font-size: 1.3em;
    margin: 2em auto;
    box-shadow: .1em .1em .4em lightgray;
}


@media screen and (max-width: 770px){
    .initial-pck{
        width: 90%;
    }

    .initial-pck h5{
        margin-left: 25%;
    }
}