#user-home{
    padding: 0;
}

#user-home ul{
    display: flex;
    width: 90%;
    flex-direction: column;
    margin: .5em auto;
    padding: 0;
}

#user-home ul li div div{
    display: flex;
    width: 70%;
    margin: 0 auto;
}

#user-home button{
    display: block;
    width: 5.5em;
    height: 3em;
    font-size: 1em;
    margin: 1em auto;
    background-color: skyblue;
    color: white;
    border: none;
    border-radius: .3em;
    box-shadow: 0 0 .2em skyblue;
}

@media screen and (max-width: 770px){
    #user-home{
        width: 90%;
        margin: 0 auto;
    }
}