#about-section{
    text-align: center;
}

#about-section > p{
    width: 90%;
    margin: 1.5em auto;
    color: pink;
}

#contact-us-info{
    width: 45%;
    margin: 4em auto;
    text-align: center;
}

#contact-us-info p{
    color: pink;
}

#contact-us-section{
    width: 45%;
    margin: 0 auto;
    border: 1px solid #000000;
    text-align: center;
}

#contact-us-section h4{
    color: pink;
}

#contact-us-fieldset{
    display: flex;
    flex-direction: column;
    padding: 0;
}

#contact-us-fieldset label{
    margin-top: 1em;
    color: pink;
}

#contact-us-fieldset input{
    display: block;
    width: 18em;
    height: 2em;
    margin: 0 auto;
}

#contact-us-fieldset textarea{
    display: block;
    width: 85%;
    height: 15em;
    margin: 0 auto;
}

#contact-us-fieldset button{
    display: block;
    width: 5.5em;
    height: 3em;
    font-size: 1em;
    margin: 1em auto;
    background-color: pink;
    color: white;
    border: none;
    border-radius: .3em;
    box-shadow: 0 0 .2em pink;

}


@media screen and (max-width: 770px){

    #contact-us-section{
        width: 100%;
    }

    #contact-us-fieldset input{
        width: 18em;
        
    }
    
    #contact-us-fieldset textarea{
        width: 80%;
    }

}
