#service-history{
    height: 90vh;
    overflow: auto;
    padding: 0;
}

#past-requests-list{
    display: flex;
    width: 90%;
    flex-direction: column;
    margin: .5em auto;
    padding: 0;
}

#past-requests-list > li{
    width: 100%;
    border-bottom: 1px solid black;
}

@media screen and (max-width: 770px){
    #service-history{
        height: auto;
        overflow: visible;
        border: none;
    }
}