#register-section{
    padding: 3em 0 0 0;
    margin: 0;
    width: 100%;
    text-align: center;
    background-color: white;
}

#register-section p{
    display: block;
    margin-bottom: 3em;
}

#register-form *{
    display: block;
    padding: 0;
}


#register-fieldset{
    margin: 0;
    padding: 0;
}

#register-fieldset > div{
    display: grid !important;
    margin: 0;
    padding: 0;
    grid-template: auto auto  / 1fr 1fr ;
}



#register-fieldset label{
    margin: 2.5em auto 0 auto;
    width: 14.5em;
    padding: 0;
    text-align: center;
}

input[type="tel"]{
    height: 3.5em;
    width: 12em;
    border-top: none !important;
    border-right: none !important;
    border-left: none !important;
    background-color: #fafafa;
    border-radius: .2em;
}

#register-fieldset input{
    height: 2.5em;
    margin: .5em auto 0 auto;
    width: 18em;
    background-color: #fafafa;
    border: .06em solid #eaeaea;
    border-radius: .2em;
}

#register-form button {
    display: block;
    width: 5.5em;
    height: 3em;
    font-size: 1em;
    margin: 3em auto;
    background-color: skyblue;
    color: white;
    border: none;
    border-radius: .3em;
    box-shadow: 0 0 .2em skyblue;
}

.register-mobile-number{
    height: 3em;
    padding: 0;
}

@media screen and (max-width: 770px){
    #register-fieldset div{
        grid-template: auto / 1fr;
    }

    .register-mobile-number{
        padding: 0;
        margin: 0 auto;
    }

    input[type="tel"]{
        width: 6.5em;
        margin: 0 1em 0 0;
    }
}