#register-section{
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: center;
}

#register-section p{
    color: pink;
}

#register-form *{
    display: block;
}


#register-fieldset{
    margin: 0;
    padding: 0;
}

#register-fieldset > div{
    display: grid !important;
    margin: 0;
    padding: 0;
    grid-template: auto auto  / 1fr 1fr ;
}



#register-fieldset label{
    margin: 2.5em auto 0 auto;
    width: 70%;
    padding: 0;
    text-align: left;
    color: pink;
}

input[type="tel"]{
    height: auto !important;
    border-top: none !important;
    border-right: none !important;
    border-left: none !important;
    border-bottom: .06em solid black;
}

#register-fieldset input{
    height: 2.5em;
    margin-top: .5em;
    width: 100%;
    background-color: rgb(250, 226, 230);
    border: .06em solid #8c8c8c;
    border-radius: .333em;
}

#register-form button {
    display: block;
    width: 5.5em;
    height: 3em;
    font-size: 1em;
    margin: 2em auto;
    background-color: pink;
    color: white;
    border: none;
    border-radius: .3em;
    box-shadow: 0 0 .2em pink;
}

@media screen and (max-width: 770px){
    #register-fieldset div{
        grid-template: auto / 1fr;
    }
}