#login-section{
    text-align: center;
}

#login-section p{
}

#login-form{
    display: grid;
    grid-template: auto auto auto auto / 100%;
    width: 25em;
    margin: 0 auto;
    padding: 2em 0;
    border-radius: .3em;
    text-align: center;
    background-color: white;
    box-shadow: .2em .2em .8em gainsboro;
}

#login-fieldset{
    display: contents;
}

#login-fieldset label{
    margin: 1.5em auto 0 auto;
    padding: 1em;
}

#login-fieldset label input[type="tel"]{
    height: 1.7em;
    width: 100%;    
    margin: 0 auto;
    border-radius: .33em;
    background-color: #fafafa;
}

#login-password{
    display: block;
    width: 18em;
    height: 2.5em;
    margin: 0 auto;
    padding: 0;
    border-radius: .33em;
    background-color: #fafafa;
    border: .06em solid #eaeaea;
}

input[type=password]:focus{
    border: .06em solid #080808 !important;
}

#login-password:focus{
    border: .06em solid #080808 !important;
}

.login-mobile-number{
    display: block !important;
    width: 12em;
    border-radius: .33em;
    background-color: #fafafa;
    border: .06em solid #eaeaea;
    margin: 0 auto !important;
    padding: 0;
}

#login-fieldset button{
    display: block;
    width: 5.5em;
    height: 3em;
    font-size: 1em;
    margin: 3em auto;
    background-color: skyblue;
    color: white;
    border: none;
    border-radius: .3em;
    box-shadow: 0 0 .2em skyblue;
}

@media screen and (max-width: 770px){
    #login-form{
        width: 80%;
        margin: 0 auto;
    }
}